html,
body {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
}

html {
	overflow-y: auto;
	height: 100%;
	align-items: start;
}

body {
	align-items: center;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: hsl(0, 0%, 15%);
		color: hsl(0, 0%, 85%);
	}
}

main {
	width: 30em;
	min-height: 50%;
	margin: 3em;
	margin-bottom: 6em;
}

p {
  text-align: justify;
	line-height: 1.5;
}

a {
	color: hsl(240, 100%, 35%);
	&:visited {
		color: hsl(255, 100%, 30%);
	}
}
@media (prefers-color-scheme: dark) {
	a {
		color: hsl(230, 100%, 75%);
		&:visited {
			color: hsl(255, 100%, 80%);
		}
	}
}

table {
	margin: auto;
	border-collapse: collapse;
}
th {
	font-weight: normal;
}
td, th {
	border: 1px solid hsl(0, 0, 75%);
	padding: 0.5em;
}
@media (prefers-color-scheme: dark) {
	table td,
	table th {
        	border: 1px solid hsl(0, 0, 30%);
	}
}
